.product-list{
    padding: 0;
    width: 100%;
    text-align: center;
}

.product{
    width: 20%;
    margin-left: 4%;
    float: left;
}

.product-img{
    width: 20vw;
    height: auto;
    object-fit: cover;
}

.product button {
    border: none;
}
.product a {
    text-decoration: none;
    color:black;
    font-size: 30px;
    
}

.product-price {
    font-size: 25px;
    margin-bottom: 10%;
}

.clearfix{
    clear:both;
}

