/*contentSpace*/
.aboutSpace {
    min-height: 800px;
    background-image: url('img/partyBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_div {
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutImgSection {
    position: block;
}

.aboutImg{
    width:300px;
    margin: 0 auto;
    display: block;
}

.textSection {
    margin-top: 10px;
    font-family: "Lato";
}

h2 {
    margin-bottom: 80px;
}

.textCenter {
    text-align: center;
    font-size: 30px;
}

.pText {
    font-weight: bold;
}

.subText {
    margin-bottom: 60px;
}